include LICENSE
include config.ini.example

recursive-include pytwitter/templates *
recursive-include pytwitter/static *

recursive-include tests/cassettes *
include tests/conftest.py

recursive-include docs *
