{"http_interactions": [{"recorded_at": "2016-11-01T06:53:12", "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_TOKEN>"}, "body": {"string": "grant_type=client_credentials", "encoding": "utf-8"}, "uri": "https://api.twitter.com/oauth2/token", "method": "POST"}, "response": {"headers": {"x-connection-hash": "c54d336b36140efa5192e6fce77eb9a0", "last-modified": "Tue, 01 Nov 2016 06:53:12 GMT", "content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "content-type": "application/json;charset=utf-8", "x-response-time": "19", "ml": "A", "x-transaction": "0031289b0073b7e9", "x-tsa-request-body-time": "2", "status": "200 OK"}, "body": {"string": "{\"token_type\":\"bearer\",\"access_token\":\"AAAAAAAAAAAAAAAAAAAAAMZFxQAAAAAAMVW%2BrwwVxTdA9J7ExYkNFBrfupk%3DOIY8ZqF7XMmzDKJsLEXEURITJpsj1UcspcM5gPH6F73tzZU4ih\"}", "encoding": "utf-8"}, "url": "https://api.twitter.com/oauth2/token", "status": {"message": "OK", "code": 200}}}, {"recorded_at": "2016-11-01T06:53:13", "request": {"headers": {"Authorization": "<AUTH_TOKEN>"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.twitter.com/1.1/search/tweets.json?since_id=0&q=%23python&count=25", "method": "GET"}, "response": {"headers": {"x-connection-hash": "c54d336b36140efa5192e6fce77eb9a0", "last-modified": "Tue, 01 Nov 2016 06:53:12 GMT", "x-rate-limit-remaining": "414", "content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "x-rate-limit-limit": "450", "x-rate-limit-reset": "1477983843", "content-type": "application/json;charset=utf-8", "x-access-level": "read", "x-response-time": "60", "x-transaction": "0099ece000a4eac2", "status": "200 OK"}, "body": {"string": "{\"statuses\":[{\"created_at\":\"Tue Nov 01 06:52:31 +0000 2016\",\"id\":793344955871789056,\"id_str\":\"793344955871789056\",\"text\":\"Ben, dev lead at IMC, has been working on global integration of our tech stack: https:\\/\\/t.co\\/0qdKxwJlHd #java #python #cplusplus\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"java\",\"indices\":[104,109]},{\"text\":\"python\",\"indices\":[110,117]},{\"text\":\"cplusplus\",\"indices\":[118,128]}],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"https:\\/\\/t.co\\/0qdKxwJlHd\",\"expanded_url\":\"https:\\/\\/goo.gl\\/DKaThC\",\"display_url\":\"goo.gl\\/DKaThC\",\"indices\":[80,103]}]},\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/www.hootsuite.com\\\" rel=\\\"nofollow\\\"\\u003eHootsuite\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":729848759555756034,\"id_str\":\"729848759555756034\",\"name\":\"IMC Trading APAC\",\"screen_name\":\"IMCAsiaPacific\",\"location\":\"Sydney, Australia\",\"description\":\"IMC Sydney office. Making Markets for over 25 years. Explore our world #ExploreEngageExpand\",\"url\":\"https:\\/\\/t.co\\/bXDlfzghDv\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"https:\\/\\/t.co\\/bXDlfzghDv\",\"expanded_url\":\"http:\\/\\/www.imc.com\",\"display_url\":\"imc.com\",\"indices\":[0,23]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":32,\"friends_count\":77,\"listed_count\":0,\"created_at\":\"Tue May 10 01:41:19 +0000 2016\",\"favourites_count\":16,\"utc_offset\":39600,\"time_zone\":\"Sydney\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":27,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"000000\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/780201817829285888\\/rgplh4wi_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/780201817829285888\\/rgplh4wi_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/729848759555756034\\/1474849744\",\"profile_link_color\":\"1B95E0\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"000000\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":false,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},{\"created_at\":\"Tue Nov 01 06:52:13 +0000 2016\",\"id\":793344879396917248,\"id_str\":\"793344879396917248\",\"text\":\"RT @raymondh: #python news:  CPython 3.6b3 was released today.\\nThis is the best Python so far.\\nTry it now.\\nhttps:\\/\\/t.co\\/ZBDFTFfwPo\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"python\",\"indices\":[14,21]}],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"raymondh\",\"name\":\"Raymond Hettinger\",\"id\":14159138,\"id_str[...]
