{"http_interactions": [{"recorded_at": "2016-11-01T07:16:56", "response": {"body": {"encoding": "utf-8", "string": "{\"token_type\":\"bearer\",\"access_token\":\"AAAAAAAAAAAAAAAAAAAAAMZFxQAAAAAAMVW%2BrwwVxTdA9J7ExYkNFBrfupk%3DOIY8ZqF7XMmzDKJsLEXEURITJpsj1UcspcM5gPH6F73tzZU4ih\"}"}, "url": "https://api.twitter.com/oauth2/token", "status": {"message": "OK", "code": 200}, "headers": {"x-response-time": "16", "content-type": "application/json;charset=utf-8", "x-tsa-request-body-time": "0", "ml": "A", "x-connection-hash": "bb218edb171976c806a60923ba7da3c8", "x-twitter-response-tags": "BouncerCompliant", "x-transaction": "00b1d32300aa002f", "status": "200 OK", "last-modified": "Tue, 01 Nov 2016 07:16:56 GMT", "content-disposition": "attachment; filename=json.json"}}, "request": {"method": "POST", "body": {"encoding": "utf-8", "string": "grant_type=client_credentials"}, "uri": "https://api.twitter.com/oauth2/token", "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_TOKEN>"}}}], "recorded_with": "betamax/0.8.0"}