{"http_interactions": [{"recorded_at": "2016-11-01T07:16:54", "response": {"body": {"encoding": "utf-8", "string": "{\"token_type\":\"bearer\",\"access_token\":\"AAAAAAAAAAAAAAAAAAAAAMZFxQAAAAAAMVW%2BrwwVxTdA9J7ExYkNFBrfupk%3DOIY8ZqF7XMmzDKJsLEXEURITJpsj1UcspcM5gPH6F73tzZU4ih\"}"}, "url": "https://api.twitter.com/oauth2/token", "status": {"message": "OK", "code": 200}, "headers": {"x-response-time": "23", "content-type": "application/json;charset=utf-8", "x-tsa-request-body-time": "0", "ml": "A", "x-connection-hash": "cbfe5281edfc5483c2ec0fb383128d3e", "x-twitter-response-tags": "BouncerCompliant", "x-transaction": "001ac90300db009a", "status": "200 OK", "last-modified": "Tue, 01 Nov 2016 07:16:54 GMT", "content-disposition": "attachment; filename=json.json"}}, "request": {"method": "POST", "body": {"encoding": "utf-8", "string": "grant_type=client_credentials"}, "uri": "https://api.twitter.com/oauth2/token", "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_TOKEN>"}}}, {"recorded_at": "2016-11-01T07:16:55", "response": {"body": {"encoding": "utf-8", "string": "{\"statuses\":[{\"created_at\":\"Tue Nov 01 07:16:17 +0000 2016\",\"id\":793350936685056000,\"id_str\":\"793350936685056000\",\"text\":\"It is happening. Come, meet, discuss, and work along with the community in #pyconpune #Python @ThePSF 16-19th Feb,\\u2026 https:\\/\\/t.co\\/De02BsGwUC\",\"truncated\":true,\"entities\":{\"hashtags\":[{\"text\":\"pyconpune\",\"indices\":[75,85]},{\"text\":\"Python\",\"indices\":[86,93]}],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"ThePSF\",\"name\":\"Python Software\",\"id\":63873759,\"id_str\":\"63873759\",\"indices\":[94,101]}],\"urls\":[{\"url\":\"https:\\/\\/t.co\\/De02BsGwUC\",\"expanded_url\":\"https:\\/\\/twitter.com\\/i\\/web\\/status\\/793350936685056000\",\"display_url\":\"twitter.com\\/i\\/web\\/status\\/7\\u2026\",\"indices\":[116,139]}]},\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":14452322,\"id_str\":\"14452322\",\"name\":\"kushaldas\",\"screen_name\":\"kushaldas\",\"location\":\"Pune, Maharashtra\",\"description\":\"Core Python Developer. Fellow & director\\/Communications officer at @ThePSF @fedora cloud engineer at @RedHatJobs. Helping new contributors. Dad and husband.\",\"url\":\"https:\\/\\/t.co\\/H3M1Wjj3cm\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"https:\\/\\/t.co\\/H3M1Wjj3cm\",\"expanded_url\":\"http:\\/\\/kushaldas.in\",\"display_url\":\"kushaldas.in\",\"indices\":[0,23]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":2761,\"friends_count\":2347,\"listed_count\":218,\"created_at\":\"Sun Apr 20 15:23:36 +0000 2008\",\"favourites_count\":2881,\"utc_offset\":19800,\"time_zone\":\"Kolkata\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":10272,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"000000\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/149170356\\/smalllne.jpg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/149170356\\/smalllne.jpg\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/773153144658358272\\/AR1dbnUI_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/773153144658358272\\/AR1dbnUI_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/14452322\\/1444150250\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":false,\"has_extended_profile\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":true,\"quoted_status_id\":793349541424603136,\"quoted_status_id_str\":\"793349541424603136\",\"quoted_status\":{\"created_at\":\"Tue Nov 01 07:10:45 +0000 2016\",\"id\":793349541424603136,\"id_str\":\"793349541424603136\",\"text\":\"PyCon Pune 2017 website is live. https:\\/\\/t.co\\/OMgVoohqwo #pyconpune\",\"truncated\":false,\"entities\":{\"hashtags\":[{\"text\":\"pyconpune\",\"indices\":[57,67]}],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"https:\\/\\/t.co\\/OMgVoohqwo\",\"expanded_url\":\"http:\\/\\/pune.pycon.org\\/\",\"display_url\":\"pune.pycon.org\",\"indices\":[33,56]}]},\"metadata\[...]
