{"http_interactions": [{"recorded_at": "2016-11-01T06:53:12", "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "<AUTH_TOKEN>"}, "body": {"string": "grant_type=client_credentials", "encoding": "utf-8"}, "uri": "https://api.twitter.com/oauth2/token", "method": "POST"}, "response": {"headers": {"x-connection-hash": "234fc05d2363c0bbe76943a3678de145", "last-modified": "Tue, 01 Nov 2016 06:53:11 GMT", "content-disposition": "attachment; filename=json.json", "x-twitter-response-tags": "BouncerCompliant", "content-type": "application/json;charset=utf-8", "x-response-time": "14", "ml": "A", "x-transaction": "0081e7220017dcf3", "x-tsa-request-body-time": "0", "status": "200 OK"}, "body": {"string": "{\"token_type\":\"bearer\",\"access_token\":\"AAAAAAAAAAAAAAAAAAAAAMZFxQAAAAAAMVW%2BrwwVxTdA9J7ExYkNFBrfupk%3DOIY8ZqF7XMmzDKJsLEXEURITJpsj1UcspcM5gPH6F73tzZU4ih\"}", "encoding": "utf-8"}, "url": "https://api.twitter.com/oauth2/token", "status": {"message": "OK", "code": 200}}}], "recorded_with": "betamax/0.8.0"}