a, h1, h2       { color: #ff00ff; }

div.tweet_text {background-color: #000000; color: #ffffff; padding: 15px}

span.hashtag{color: #0000ff;}
span.mention{color: #00ffff;}
a {color: #ffff00; text-decoration: underline;}
