<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title>twitter-wall</title>
<h1>twitter-wall Web Frontend</h1>

<form action="/search/" method="get">
    Query: <input type="text" name="query" {%if query %}value={{ query }} {% endif %}>
          <input type="submit" value="Submit" class='button'>

</form>

{% if query %}
<h2>Searched for {{ query }}: </h2>
{% endif %}

{% if tweets %}
<div class='tweets'>
    {% for tweet in tweets %}
    <div class='tweet'>
        <div class='tweet_header'>
            <img src={{ tweet.user.profile_image_url }}>
            <span class='user_name'>{{ tweet.user.name }}</span> 
            <a href='https://twitter.com/{{ tweet.user.screen_name }}' class='screen_name'>@{{ tweet.user.screen_name }}</a> 
            <span class='created_at'>{{ tweet.created_at | time}}</span>
        </div>
        <div class='tweet_text'>
            {{ tweet | colorize | safe}}
        </div>

        <div class='tweet_media'>
            {% for medium in tweet.entities.media %}
            <div class='tweet_medium'>
            <img src={{ medium.media_url_https }} >
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
<div>
{% endif %}


