<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>twitter-wall</title>

</head>

<body>
    <h1>twitter-wall Web Frontend</h1>

    <form action="/search/" method="get">
        Query: <input type="text" name="query" {%if query %}value={{ query }} {% endif %}>
              <input type="submit" value="Submit" class='button'>
              Include retweets: <input type="checkbox" name="retweets" {% if retweets %} checked {% endif %}>
    </form>

    {% if query %}
    <h2>Searched for {{ query }}: </h2>
    {% endif %}

    {% if tweets %}
    <div class='tweets'>
        {% for tweet in tweets %}
        {% if retweets or not tweet.retweeted_status %}
        <div class='tweet'>
            <div class='tweet_header'>
                <img src={{ tweet.user.profile_image_url }}>
                <span class='user_name'>{{ tweet.user.name }}</span> 
                <a href='https://twitter.com/{{ tweet.user.screen_name }}' target='_blank' class='screen_name'>@{{ tweet.user.screen_name }}</a> 
                <span class='created_at'>{{ tweet.created_at | time}}</span>
                <a href='https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}' class='tweet_link'>Link</a>
            </div>
            <div class='tweet_text'>
                {{ tweet | colorize | safe}}
            </div>

            <div class='tweet_media'>
                {% for medium in tweet.entities.media %}
                <div class='tweet_medium'>
                <img src={{ medium.media_url_https }} >
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    <div>
    {% endif %}

</body>
